NEXT_PUBLIC_SUPABASE_URL=https://naouvmbobgyckwnxfdjs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hb3V2bWJvYmd5Y2t3bnhmZGpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYyODg2NjUsImV4cCI6MjA2MTg2NDY2NX0.LQILbKuos67OSg-DQEEHAyI9hhi91R2KBXQsHhDT3QE

